<h1>Welcome!</h1>

<h2>Please authenticate with github to see your repos.</h2>

<h3><%= link_to 'Sign In with Github',
  "https://github.com/login/oauth/authorize?client_id=ce5b5c437014b8a5ce81&scope=repo" %> </h3>
